# Values:
# - 'true'
# - 'false' | ...
PRODUCTION=false

SECRET_KEY=django-insec213ure-asd321321213asdqweq321312wueowqkepo-
DOMAIN=www.example.com

LANGUAGE_CODE=en-us
TIME_ZONE=UTC

STATIC_URL=www.example.com/static/
MEDIA_URL=www.example.com/media/
